= form_for contestant do |f|
  = f.error_messages
  %p
    = f.label :name
    %br
    = f.text_field :name
  %p
    = f.label :description
    %br
    = f.text_area :description
  %p
    = f.label :bracket
    %br
    = f.text_field :bracket
  %p
    = f.label :rank
    %br
    = f.number_field :rank
  %p
    = f.label :handle
    %br
    = f.text_field :handle
  %p
    = f.label :settings
    %br
    = f.text_area :settings
  %p
    = f.submit
