- title "Contestants"

%table
  %tr
    %th Name
    %th Description
    %th Bracket
  - for contestant in @contestants
    %tr
      %td= contestant.name
      %td= contestant.description
      %td= contestant.bracket
      %td= link_to 'Show', contestant
      %td= link_to 'Edit', edit_contestant_path(contestant)
      %td= link_to 'Destroy', contestant, :confirm => 'Are you sure?', :method => :delete

%p= link_to "New Contestant", new_contestant_path
