= form_for @bracket do |f|
  = f.error_messages
  %p
    = f.label :ordering
    %br
    = f.text_area :ordering
  %p
    = f.label :closed
    %br
    = f.check_box :closed
  %p
    = f.label :tournament
    %br
    = f.text_field :tournament
  %p
    = f.label :handle
    %br
    = f.text_field :handle
  %p
    = f.label :settings
    %br
    = f.text_area :settings
  %p
    = f.submit
