- title "Bracket"
- centered_layout true
- skip_sidebar    true

%h2 Info

.tournament[@tournament]{ 'data-tournament_size' => @tournament.size }
  %pre
    == size: #{@bracket.size}
  
  = form_for_with_bootstrap(@bracket, :html => { :class => 'pools', :id => "pools_#{@bracket.id}" }) do |f| 
    %h2 pools
    - @bracket.pools.each do |pool|
      = render pool, :bracket => @bracket, :f => f
    = f.submit
  .wings
    - @bracket.wings[0..0].each do |wing|
      = render wing

%hr.clear/
%p
  = link_to "Edit", edit_bracket_path(@bracket)
  |
  = link_to "Destroy", @bracket, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", brackets_path
