- title "Bracket"

%h2 Info

%pre
  == size: #{@bracket.size}

%h2 pools

.pools
  = render @bracket.pools

.wings
  = render @bracket.wings

%p
  = link_to "Edit", edit_bracket_path(@bracket)
  |
  = link_to "Destroy", @bracket, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", brackets_path
