
= form_for(resource, :as => resource_name, :url => update_user_registration_path, :html => { :method => :put, :class => 'edit_user' }) do |f|
  %fieldset
    %legend Update your password

    = f.password_field :password
    = f.password_field :password_confirmation
    = f.password_field :current_password, :help_inline => '(so we can confirm your changes)'
    .actions
      = f.submit "Update"
