- title "#{resource.dummy_password? ? 'Create' : 'Change'} your password"

= form_for(resource, :as => resource_name, :url => user_registration_password_path, :html => { :method => :put, :class => 'edit user' }) do |f|
  %fieldset
    %legend= @title

    = f.password_field :password, :label => 'new password', :required => true
    = f.password_field :password_confirmation, :required => true
    - unless resource.dummy_password?
      %hr/
      = f.password_field :current_password, :help_inline => '(so we can confirm your changes)', :required => true
    .actions
      = f.submit "Update", :cancel => edit_user_registration_path
