- title "Your user info"

= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => 'edit_user' }) do |f|
  %fieldset
    = devise_error_messages!
    %legend= @title
    = f.text_field     :username,    :label => 'username'
    = f.text_field     :email,       :label => 'email',    :help_inline => 'We won\'t spam you, promise'

    = f.text_field     :fullname,    :label => 'name',     :help_inline => 'Hi, bob'
    = f.text_field     :url,         :label => 'web',      :maxlength => 160, :help_inline => 'Your homepage, facebook or blog'
    = f.text_area      :description, :maxlength => 160,    :maxlength => 160, :rows => 3, :cols => 40


    %hr/
    = f.password_field :current_password, :help_inline => '(so we can confirm your changes)'

    .actions
      = f.submit "Update"
      %span.secondary-action
        to delete your account:
        = link_to "yikes", delete_user_registration_path, :style => 'color: red'
        
      
