- title "Your user info"

= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => 'edit_user form-stacked' }) do |f|
  %fieldset
    = devise_error_messages!
    %legend= @title
    = f.text_field     :name
    = f.text_field     :email

    %hr.spacer/
    = f.password_field :password, :help_inline => '(leave blank if you don\'t want to change it)'
    = f.password_field :password_confirmation
    
    %hr/
    = f.password_field :current_password, :help_inline => '(we need your current password to confirm your changes)'

    = f.text_area      :bio

    = f.text_area      :web

    .buttons= f.submit "Update"

    

%hr.spacer/

%form.form-stacked
  %fieldset
    = devise_error_messages!
    %legend= "Remove account"
    %p
      This is permanent:
      .buttons
        =link_to "Remove my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete, :class => 'button white'
      
= link_to "Back", :back
