- title "Resend unlock instructions"

= form_for(resource, :as => resource_name, :url => unlock_path(resource_name), :html => { :method => :post }) do |f|
  %fieldset
    = devise_error_messages!
    %legend= @title

    = f.text_field :email

    .actions
      = f.submit "Resend unlock instructions"
      %span.secondary-action
        = render :partial => "devise/shared/links"
