- title "#{app_name} Users"

%h2== #{app_name} users
%br/

%table.users.zebra-striped.sortable
  %tr
    %th &nbsp;
    %th= link_to 'username',       users_path(:order => 'fullname')
    %th  Name
    %th  Email
    %th  Web
  - for user in @users
    %tr.hcard
      %td.photo=        avatar_tag(user)
      %td.nickname=     link_to_rsrc(user)
      %td.fn.n=         user.fullname
      %td.email=        user.email
      %td.url.uid=      user.url

.actions
  &nbsp;
  %span.secondary-action
    To set your user image, visit <a href="http://gravatar.com/">gravatar.com</a>
