- title "#{app_name} user #{@user.titleize}"

%table.vertical.user.hcard
  %tr
    %td.span12{:colspan => 2 }
      %h2==  #{@user.fullname}
    %td.span4.photo{:rowspan => 6 }
      = avatar_tag(@user, :s => 200)
      %br/
      %span.muted
        Set your image: <a href="http://gravatar.com/">gravatar.com</a>

  %tr
    %th.span3         username
    %td.span9=        @user.username
  %tr
    %th         user since
    %td==       #{distance_of_time_in_words_to_now(@user.created_at)} ago
  %tr
    %th         email
    %td=        @user.email
  %tr
    %th         website
    %td=        @user.url
  %tr
    %th         facebook
    %td=        @user.facebook_url
  %tr
    %th         twitter
    %td=        @user.twitter_name

  %tr
    %th         bio
    %td
      =         @user.description
      &nbsp;

- Rails.dump(@user, @user.identities)
= render :partial => '/identities/index', :locals => { :identities => @user.identities }

- if @user == current_user
  .well
    =           link_to('Edit profile', edit_user_registration_path, :class => 'btn primary large')
