- title "Forgot your password?"

= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
  %fieldset
    = devise_error_messages!
    %legend= @title


    = f.text_field :email

    .actions
      = f.submit "Send me reset password instructions"
      %span.secondary-action
        = render :partial => "devise/shared/links"
