- title "Tournaments"

%table
  %tr
    %th Name
    %th Description
    %th User
    %th State
    %th Handle
    %th Settings
  - for tournament in @tournaments
    %tr
      %td= link_to tournament.name, tournament.bracket
      %td= link_to_rsrc tournament.user
      %td= tournament.description
      %td= tournament.state
      %td= tournament.handle

%p= link_to "New Tournament", new_tournament_path
