.hero-unit
  %h1 Hello, world!
  %p This is your app. There are many like it but this one is yours.

  %ul
    %li= link_to 'Sign up',           new_user_registration_path
    %li= link_to 'Log in',            new_user_session_path
    %li= link_to 'Log out',           destroy_user_session_path
    %li= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook)
    %li= link_to "Sign in with Twitter",  user_omniauth_authorize_path(:twitter)
    %li  &nbsp;
    %li= link_to 'Edit your account', edit_user_registration_path
    %li= link_to 'Show users',        user_path
    %li  &nbsp;
    %li= link_to 'Show brackets',     brackets_path

.hero-unit
  - foo_url = auth_redirector_form_path(:provider => 'twitter')
  - foo_url = '/'
  = form_tag(foo_url, :method => :get) do |f|
    %fieldset
      %legend= @title
      = text_field_tag              :login,    'mrflip',  :required => 'true', :autofocus => "autofocus"
      = honeypot_tag
      .actions
        = submit_tag "twitter", :class => 'login-button'
        = submit_tag "facebook", :class => 'login-button'
  %br/
  %p
    Sign up easily with Twitter, Facebook or your GMail account.
    We won't ever post anything unless you tell us to.
    = learn_more_tag("Instant Signup", "Using one of them FaceSterGoogle accounts creates your profile instantly — you can share your brackets and see the ones by your friends.  It\'s for your fun and convenience, though: we\'ll never bug you to post anything.")

.hero-unit
  %p Here are your app config settings
  %pre
    = Settings
  %pre
    = flash.to_hash
  %pre
    = session.to_hash.to_yaml
  %pre
    = request.cookies

.row
  .span8
    %h2 Simple Demo
    %p <a class='btn' href='/admin/demo'>Very simple demo of layouty things</a>
  .span8
    %h2 Bootstrap system Docs
    %p <a class='btn' href='/admin/bootstrap_demo'>Reference guide</a>


%hr/
